<div class="content row">
  <div class="image-film col">
    <img [src]="imgFilm" class="w-100" />
  </div>
  <div class="desc-film col">
    <p class="h1">{{ nomFilm }}</p>
    <p class="text-success" *ngIf="enSalle; else afficheFalse">
      Toujours à l'affiche
    </p>
    <ng-template #afficheFalse
      ><p class="text-danger">Prochainement</p></ng-template
    >
    <div class="acteurs">
      <strong>Acteur: </strong>
      <span *ngFor="let acteur of acteurs">{{ acteur }} , </span>
    </div>
    <br />
    <div *ngFor="let detail of details | keyvalue" class="details">
      <p>
        <strong>{{ detail.key }}</strong> : {{ detail.value }}
      </p>
    </div>
    <div class="synopsis">
      <button class="btn btn-warning" (click)="onSynopsisClick()">
        Synopsis
      </button>
      <p style="text-align: justify;" *ngIf="showSynopsis">
        Une comédie sociale qui raconte l'histoire de 3 amis (Zreka, Charo, et Abdelssadek), originaires d'un bidonville de Casablanca, et qui seconsidèrent comme des frères. Chacun d’eux a son histoire, ses préoccupations, ses problèmes, mais ils partagent tous les trois la même chose : l'échec dans leur vie marquée par la pauvreté, le chômage et la marginalisation... En cherchant à créer le buzz à travers une vidéo tournée par les 3 jeunes, ils ont été polarisés et se sont fait manipulés à cause de leur naïveté et de leur insouciance et se sont retrouvé ainsi poursuivis par un mandat de perquisition à leur encontre sur l'ensemble du territoire national...,
      </p>
    </div>
  </div>
</div>
